Source: calculator
Maintainer: Josef Kolar, Son Hai Nguyen, Martin Omacht, Robert Navratil <xkolar71@stud.fit.vutbr.cz, xnguye16@stud.fit.vutbr.cz, xomach00@stud.fit.vutbr.cz, xnavra61@stud.fit.vutbr.cz>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.1
Package: python3-calculator
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-all, python3-pip
Description:
 IVS-VUT-BIT-2016-2017
 Grafická kalkulačka jako školní projekt do předmětu IVS na FIT VUT v letním semestru školního roku 2016/2017. Kalkulačka nabízí plnohodnotné matematické funkce, systém proměnných (včetně jejich zavislostí) i skrytý easter egg.

 Platformy
 ---------
 Ubuntu 64bit

 Autoři
 ------
 /dej/uran/dom
 - xkolar71 Josef Kolář
 - xnguye16 Son Hai Nguyen
 - xomach00 Martin Omacht
 - xnavra61 Robert Navrátil

 Licence
 -------
 Tento program je licenován pod licencí GNU GPL Version 3.

