[Desktop Entry]
Version=1.0
Name=Calculator
Comment=GUI calculator with variables support.
Exec=calculator
Icon=calculator.svg
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Application;