[Desktop Entry]
Version=1.0
Name=/dej/uran/dom calculator
Comment=GUI calculator with variables support.
Exec=calculator-app
Icon=calculator.svg
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Application;